@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  font-family: Raleway, sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.logoHeader {
  width: 30px;
  height: 30px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0.4s;
  padding-top: 20px;
}

.navbar a {
  color: #FFFFFF !important;
  padding-bottom: 20px;
  margin-left: 40px;
}

.navbar-brand {
  margin-left: 60px;
  
}

.navbar-toggler {
  margin-right: 20px;
}

.navbar-nav {
  margin-right: 8px;
}

#Quienes-somos {
  margin-top: 50px;
}

#Destacados {
  margin-top: 50px;
}

.card-img-top {
  max-height: 150px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
  margin: 0;
  background-color: #0DCAF0;
  color: #FFFFFF;
}

.card-text {
  margin-bottom: 50px;
  padding-bottom: 10px;
}

#Contacto {
  margin-top: 50px;
}

.form-group {
  margin-bottom: 10px;
}

textarea {
  height: 200px;
}

.btn {
  margin-top: 3px;
}

button {
  margin-bottom: 25px;
}

button.btn.btn-primary {
  background-color: #0DCAF0;
  color: #ffffff;
}

footer {
  background-color: #0DCAF0;
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h5 {
  padding-left: 4px;
  order: -1; /* Esto asegura que "Viajes Chile" siempre esté arriba */
  margin-bottom: 10px;
}

@media (min-width: 768px) { /* Pantallas medianas (md) y más grandes */
  footer .container .ms-auto {
    margin-left: auto;
  }
}
@media screen and (min-width: 1024px) {
  /* Margin-left para la sección de redes sociales en pantallas de escritorio */
  #Redes-Sociales {
    margin-left: 300px;
  }
}

/* Soluciona el problemas de los iconos juntos al h5 en esta resolución responsive de pantalla */
@media (min-width: 761px) and (max-width: 1023px) {
  #Redes-Sociales {
    margin-left: 150px;
  }
}

.icono-blanco {
  color: #FFFFFF;
}

.icono-azul {
  color: #1877f2;
}

.icono-black {
  color: #000000;
}

.icono-azul2 {
  color: #0a66c2;
}

.ms-auto {
  padding-right: 150px;
}

.ms-auto i {
  margin: 0 5px;
}

.tooltip .tooltip-inner {
  background-color: #0DCAF0; /* Color de fondo del tooltip */
  color: #ffffff; /* Color del texto del tooltip */
}

.tooltip .arrow::before {
  border-top-color: #0DCAF0; /* Color de la flecha del tooltip */
}

/* Esto ajusta el estilo dependiendo del tamaño de la pantalla */
@media screen and (max-width: 760px) {

  /*El logo, el título y el menú tengan un margen adecuado */
  .logo, .titulo, .menu {
    margin: 10px;
  }

  /*Flexbox para controlar la disposición de los elementos */
  .header {
    display: flex;
    justify-content: space-between;
  }

  /* Ajusta la altura del footer */
  .footer {
    height: auto;
  }

  #Redes-Sociales {
    display: flex;
    justify-content: center;
    width: 140%;
    flex-wrap: wrap;
    padding-left: 20px;
    margin-left: 33px;
  }
}

/*El documento ocupa todo el alto de la página */
html, body {
  height: 100%;
}
